*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Estilos Desktop */
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    color: white;
}
.contenedor h1{
    font-size: 3rem!important;
}

/* Primer beakpoint */
@media screen and (max-width: 900px){

    .contenedor{
        background-color: tomato;
    }
    .contenedor h1{
        font-size: 5rem!important;
        text-decoration: line-through;
    }

}
/* Segundo breakpoint */
@media screen and (max-width: 468px){
    .contenedor{
        background-color:darkcyan;
    }
    .contenedor h1{
        font-size: 2rem!important;
        text-decoration: underline;
        background-color: yellow;
        color: #232323;
    }
}