
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: blueviolet;
    text-shadow: 1px 1px 1px black;
}
a{
    text-decoration: none;
    /* color: inherit; */
    color: aliceblue;
    background-color: rgb(66, 66, 236);
}

.diferente{
    text-shadow: none;
    color: brown;
}

h1 span{
    background-color: orange;
    text-shadow: none;
}

a{
    color: rgb(6, 35, 61);
    background-color: rgb(25, 207, 227);
    text-shadow: none;
}

/* Ejemplo especificidad */
#red{
    color: brown;
}
.blue{
    color:rgb(6, 35, 61)!important;
}
h1{
    color: greenyellow;
}